.navbar-main {
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);*/
    border-bottom: solid 1px #eaeaea;
    padding-top: 40px;
    padding-bottom: 12px;
}

.nav-container {
    max-width: 1000px;
}

.footer {
    border-top: solid 1px #eaeaea;
    text-align: center;
    background-color: rgba(56, 56, 56, 0.75);
}

.main {
    margin-top: 0px;
    padding-bottom: 200px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 750px;
}

.main-content {
    margin-bottom: 100px;
}

.hero {
    height: 25vh;
    min-height: 275px;
    max-width: 750px;

    /*background-image: url(../public/mc.png); 
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.35);
    background-color: rgb(44, 44, 44); */
}

.hero-content {
    position: relative;
    top: 30%;   
}

.hero p {
    font-size: 1.5rem;
    font-weight: 300;
}

.list-group-item {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 15px;
}

.list-group-item svg {
    float: right;
    margin-top: 6px;
}

.list-group-item:hover {
    /* apply a dark transparent filter */
    background-color: rgba(0, 0, 0, 0.1);

}

.navbar-main button {
    padding-bottom: 8px;
}

.project-button {
    border: 0px !important;
    padding: 0px !important;
}

.project-card {
    text-align: left;
}

.project-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.project-category, .project-date {
    display: inline;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 300;
    text-decoration: underline;
    margin-left: 15px;
    margin-right: 15px;
}

.project-date {
    float: right;
    text-align: right;
}

.project-description {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 300;
}

.project-card .col-1, .project-card .col-2  {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    padding: 0px;
}

.tags {
    margin-bottom: 25px;
}

.tag {
    display: inline-block;
    text-align: center;
    padding: 4px;
}

.tag:hover {
    cursor:pointer;
}

.selected {
    background-color: rgba(126, 126, 126, 0.35);
}

.subheader {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 20px;
}