.animatedText {
    display: inline-block;
    position: relative;
    transition: all 1s ease;
}

.slideOut {
    opacity: 0;
    transform: translateY(20px);
}

.slideIn {
    opacity: 1;
    transform: translateY(0);
}